@charset "UTF-8";

header {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 6px 0;
    background: rgba(#006574, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: top .5s;
    @media (min-width: 768px) {
        width: 390px;
    }
    >.wrapper {
        height: 56px;
        padding: 0 calc(20 / 390 * 100%);
        display: flex;
        align-items: center;
    }
    .logo {
        width: calc((126 / 350 * 100%));
        max-width: 126px;
    }
    .h_txt {
        margin-left: 10px;
        color: #fff;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
        white-space: nowrap;
        span {
            margin-right: -.14em;
            letter-spacing: .14em;
        }
    }
    .btn_menu {
        width: 70px;
        height: 40px;
        margin-left: auto;
        padding-top: 8px;
        background: #fff;
        border-radius: 20px;
        filter: drop-shadow(0px 10px 20px rgba(84, 83, 72, 0.08));
        display: flex;
        flex-flow: column;
        align-items: center;
        .icon {
            display: flex;
        }
        .shine {
            width: 14px;
            height: 14px;
        }
        .txt {
            margin: 1px -.1em 0 0;
            font-family: $fontEC;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }
    &.fv {
        padding: 20px 0 0;
        background: transparent;
        position: absolute;
        transition: 0s;
        .h_txt {
            color: $colorBk;
        }
    }
    &.hide {
        top: -68px;
    }
}
