@charset "UTF-8";

#nav_close {
    display: none;
    &:checked ~ #gMenu {
        .bg {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0s;
        }
        .wrapper {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0s;
        }
        #floatBtn {
            box-shadow: 0px 10px 20px 0px rgba(16, 63, 70, 0.12);
            .closeBtn {
                display: none;
            }
        }
    }
}
#nav_gMenu {
    display: none;
    &:checked ~ #gMenu {
        .wrapper {
            padding-bottom: 0;
            box-shadow: 0px 10px 40px 0px rgba(4, 78, 88, 0.20);
            z-index: 1;
            transition: opacity .5s;
        }
        .mBody {
            height: calc(100% - 70px);
            overflow-y: auto;
        }
        .inner {
            height: auto;
            min-height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 26px;
            &::before, &::after {
                content: "";
                display: block;
                width: calc(338 / 358 * 100%);
                height: 1px;
                margin: 0 auto;
                background: #0092A7;
            }
        }
        #floatBtn {
            .closeBtn {
                display: none;
            }
        }
    }
}
#nav_float_knowledge {
    display: none;
    &:checked ~ #gMenu {
        .wrapper {
            background: $colorY1;
        }
        .hClose {
            background: $colorBk;
            color: #fff;
        }
        .inner {
            padding-top: 10px;
        }
        .menuWrap {
            height: 100%;
        }
        .menuGrp {
            height: 100%;
        }
        .mHead,
        .topLink,
        .btn_reserv,
        #menu_features,
        #menu_plan,
        .other_btn,
        .other_link,
        .bClose {
            display: none;
        }
        .menuHead {
            padding-top: 30px;
            padding-bottom: 26px;
            pointer-events: none;
            .icon_toggle {
                display: none;
            }
        }
        .submenu {
            padding-bottom: 0;
        }
        .folder {
            max-height: calc(100% - 116px);
            overflow-y: auto;
            transition: max-height 0s;
        }
        #floatBtn {
            background: $colorY1;
            [for="nav_float_knowledge"] {
                display: none;
            }
            .closeBtn {
                order: -1;
            }
        }
    }
}
#nav_float_features {
    display: none;
    &:checked ~ #gMenu {
        .wrapper {
            background: $colorB1;
        }
        .hClose {
            background: $colorBk;
            color: #fff;
        }
        .inner {
            padding-top: 10px;
        }
        .menuWrap {
            height: 100%;
        }
        .menuGrp {
            height: 100%;
        }
        .mHead,
        .topLink,
        .btn_reserv,
        #menu_knowledge,
        #menu_plan,
        .other_btn,
        .other_link,
        .bClose {
            display: none;
        }
        .menuHead {
            pointer-events: none;
            .icon_toggle {
                display: none;
            }
        }
        .submenu {
            padding-bottom: 0;
        }
        .folder {
            max-height: calc(100% - 116px);
            overflow-y: auto;
            transition: max-height 0s;
        }
        #floatBtn {
            background: $colorB1;
            [for="nav_float_features"] {
                display: none;
            }
            [for="nav_float_knowledge"] {
                order: -2;
            }
            .closeBtn {
                order: -1;
            }
        }
    }
}
#nav_float_plan {
    display: none;
    &:checked ~ #gMenu {
        .wrapper {
            background: $colorR1;
        }
        .hClose {
            background: $colorBk;
            color: #fff;
        }
        .inner {
            padding-top: 10px;
        }
        .menuWrap {
            height: 100%;
        }
        .menuGrp {
            height: 100%;
        }
        .mHead,
        .topLink,
        .btn_reserv,
        #menu_knowledge,
        #menu_features,
        .other_btn,
        .other_link,
        .bClose {
            display: none;
        }
        .menuHead {
            pointer-events: none;
            .icon_toggle {
                display: none;
            }
        }
        .submenu {
            padding-bottom: 0;
        }
        .folder {
            max-height: calc(100% - 116px);
            overflow-y: auto;
            transition: max-height 0s;
        }
        #floatBtn {
            background: $colorR1;
            [for="nav_float_plan"] {
                display: none;
            }
        }
    }
}
#gMenu {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    pointer-events: none;
    .bg {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($colorBk, .6);
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto;
        transition: opacity .5s;
    }
    .wrapper {
        width: calc(358 / 390 * 100%);
        max-width: calc(358 / 390 * 450px);
        height: 100%;
        margin: 0 auto;
        padding-bottom: 66px;
        background: #006574;
        border-radius: 16px 16px 33px 33px;
        box-shadow: 0px -10px 40px 0px rgba(4, 78, 88, 0.20);
        overflow: hidden;
        position: relative;
        pointer-events: auto;
        transition: opacity .5s;
        @media (min-width: 768px) {
            width: 358px;
        }
    }
    .mHead {
        height: 40px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        .icon {
            margin-right: 6px;
            display: flex;
        }
        .shine {
            width: 14px;
            height: 14px;
        }
        .txt {
            color: #fff;
            font-family: $fontEC;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }
    .hClose {
        width: 58px;
        height: 20px;
        background: #0092A7;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        color: #fff;
        font-family: $fontEC;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            margin-top: 1px;
            background: currentColor;
            mask: url(../img/close.svg) center/contain no-repeat;
        }
    }
    .closeBtn {
        width: 80px;
        height: 46px;
        border: 1px solid rgba(#fff, .5);
        border-radius: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        color: #fff;
        font-family: $fontEC;
        font-size: 12px;
        font-weight: 700;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            margin-top: 1px;
            background: currentColor;
            mask: url(../img/close.svg) center/contain no-repeat;
        }
        &::after {
            content: "";
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            border-radius: 19px;
            border: 1px solid currentColor;
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }
    .mBody {
        height: 100%;
    }
    .inner {
        height: 100%;
    }
    .topLink {
        width: fit-content;
        display: flex;
        align-items: center;
        color: #fff;
        font-family: $fontM;
        font-size: 15px;
        font-weight: 600;
        .arw {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border: 1px solid currentColor;
            border-radius: 50%;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: currentColor;
                mask: url(../img/arw_btn.svg) center/10px 10px no-repeat;
                transform: scaleX(-1);
            }
        }
    }
    .btn_reserv {
        width: calc(320 / 358 * 100%);
        background: linear-gradient(270deg, #FF85A0 0%, #FF8E7A 16.627%, #FFA94D 33.253%, #FFCC19 49.88%, #9CDB5C 66.587%, #48DBAC 83.293%, #2BCBD5 100%);
        .filter {
            height: 100%;
            background: linear-gradient(transparent 65px, $colorBk 65px);
            mix-blend-mode: soft-light;
        }
        .waves {
            fill: $colorBk;
        }
        .txt {
            padding-left: 8px;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            gap: 5px;
            letter-spacing: .06em;
            .tag {
                padding: 2px 5px;
                background: #fff;
                border-radius: 8px;
                color: $colorGy;
                font-size: 12px;
                line-height: 1;
                font-weight: 800;
                letter-spacing: 0;
            }
        }
    }
    .submenu_open {
        display: none;
        &:checked {
            & ~ .folder {
                max-height: 574px;
            }
            & ~ .menuHead .icon_toggle {
                transform: scaleY(-1);
            }
        }
    }
    .menuWrap {
        width: 100%;
    }
    .menuHead {
        width: 100%;
        padding: 20px calc(20 / 358 * 100%);
        display: flex;
        align-items: center;
        .icoWrap {
            width: 60px;
            height: 60px;
            margin-right: 14px;
            background: #fff;
            border-radius: 50%;
            filter: drop-shadow(0px 1px 1px rgba(16, 63, 70, 0.20));
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .shadow {
                width: 39.87px;
                height: 51.21px;
                fill: $color_bg;
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        .txtWrap {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            font-family: $fontM;
            .sub {
                margin-bottom: 7px;
                padding: 4px calc(10px - .1em) 4px 10px;
                background: #fff;
                border-radius: 10px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: .1em;
            }
            .ttl {
                margin-right: -.2em;
                color: #fff;
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
                letter-spacing: .2em;
            }
        }
        .icon_toggle {
            display: block;
            width: 24px;
            height: 24px;
            margin-left: auto;
            padding: 8px 6px 6px;
            background: #fff;
            border-radius: 50%;
            &::before {
                content: "";
                display: block;
                width: 12px;
                height: 10px;
                mask: url(../img/m_toggle.svg) center/contain no-repeat;
            }
        }
    }
    .folder {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
    }
    .lplink {
        width: calc(306 / 358 * 100%);
        margin: 0 auto 6px;
    }
    .submenu {
        padding: 0 calc(26 / 358 * 100%) 20px;
        .link {
            &:not(:first-child) {
                margin-top: 6px;
            }
            &.unread {
                .state {
                    color: #E71F19;
                    &::before {
                        content: "未読";
                    }
                }
            }
            &.read {
                a {
                    background: rgba(#fff, .6);
                }
                .state {
                    color: #07BF3F;
                    &::before {
                        content: "閲覧済";
                    }
                }
            }
            a {
                height: 64px;
                padding: 0 14px 0 10px;
                background: #fff;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 2px;
                }
            }
            .ttl {
                width: calc(100% - 62px);
                font-family: $fontM;
                font-size: 15px;
                line-height: 22px;
                font-weight: 600;
            }
            .arw {
                width: 24px;
                height: 24px;
                margin-left: auto;
                border: 1px solid #fff;
                border-radius: 50%;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    mask: url(../img/arw_btn.svg) center/10px 10px no-repeat;
                }
            }
            .state {
                display: none;
                .cookies & {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    &::before {
                        font-size: 10px;
                        font-weight: 700;
                        transform-origin: right;
                        transform: scale(.8);
                    }
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        margin-left: 2px;
                        background: currentColor;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    #menu_knowledge {
        background: $colorY1;
        .menuHead {
            .icon {
                background: $colorY1;
                mask: url(../img/icon_know.svg) center/contain no-repeat;
            }
            .sub {
                color: $colorY1;
            }
            .icon_toggle::before {
                background: $colorY1;
            }
        }
        .submenu {
            .arw {
                border-color: $colorY1;
                &::before {
                    background: $colorY1;
                }
            }
            a::before {
                background: $colorY1;
            }
        }
    }
    #menu_features {
        background: $colorB1;
        .menuHead {
            padding-bottom: 17px;
            .icon {
                background: $colorB1;
            }
            .sub {
                color: $colorB1;
            }
            .icon_toggle::before {
                background: $colorB1;
            }
        }
        .submenu {
            .arw {
                border-color: $colorB1;
                &::before {
                    background: $colorB1;
                }
            }
            a::before {
                background: $colorB1;
            }
        }
    }
    #menu_plan {
        background: $colorR1;
        .menuHead {
            padding-bottom: 17px;
            .icon {
                background: $colorR1;
                mask: url(../img/icon_plan.svg) center/contain no-repeat;
            }
            .sub {
                color: $colorR1;
            }
            .icon_toggle::before {
                background: $colorR1;
            }
        }
        .submenu {
            .arw {
                border-color: $colorR1;
                &::before {
                    background: $colorR1;
                }
            }
            a::before {
                background: $colorR1;
            }
        }
    }
    .other_btn {
        width: calc(290 / 358 * 100%);
        height: 64px;
        padding: 0 14px 0 20px;
        background: $color_bg;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $fontM;
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
        .arw {
            width: 24px;
            height: 24px;
            margin-left: auto;
            border: 1px solid currentColor;
            border-radius: 50%;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: currentColor;
                mask: url(../img/arw_btn.svg) center/10px 10px no-repeat;
            }
        }
    }
    .other_link {
        text-align: center;
        color: $color_bg;
        font-family: $fontM;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
    }
    .bClose {
        margin-top: auto;
    }
    #floatBtn {
        width: calc(358 / 390 * 100%);
        max-width: calc(358 / 390 * 450px);
        height: 66px;
        margin: 0 auto;
        padding: 10px;
        background: #006574;
        border-radius: 33px;
        display: flex;
        justify-content: space-between;
        pointer-events: auto;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        transition: opacity .5s, bottom .5s;
        @media (min-width: 768px) {
            width: 358px;
        }
        &.hide {
            opacity: 0;
            pointer-events: none;
            bottom: 120px;
            transition: opacity .5s, bottom .5s .5s;
        }
        .menuGrpBtn {
            width: calc(80 / 338 * 100%);
            padding-top: 8px;
            border-radius: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1px;
            text-align: center;
            color: #fff;
            font-family: $fontM;
            font-size: 11px;
            line-height: 12px;
            font-weight: 700;
            position: relative;
            &::before {
                content: "";
                width: 10px;
                height: 6px;
                background: url(../img/m_open.svg) center/contain no-repeat;
                position: absolute;
                top: 6px;
                left: calc(50% - 5px);
            }
            &[for="nav_float_knowledge"] {
                background: $colorY1;
                &::after {
                    content: "" !important;//Coming Soonを消す
                }
            }
            &[for="nav_float_features"] {
                background: $colorB1;
            }
            &[for="nav_float_plan"] {
                background: $colorR1;
            }
            .icon {
                width: 20px;
                height: 20px;
            }
        }
        .f_reserv {
            width: calc(86 / 338 * 100%);
            height: 46px;
            background: #fff;
            border-radius: 23px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            font-family: $fontM;
            font-size: 11px;
            line-height: 12px;
            font-weight: 700;
            span {
                margin-right: .1em;
                letter-spacing: -.1em;
            }
        }
        .closeBtn {
            width: calc(80 / 338 * 100%);
        }
    }
}
